.hero-img {
  width: 100%;
  height: 60vh;
  position: absolute;
  opacity: 0.8;
  background-color: black;
  z-index: -1;
}

.content {
  width: 30%;
  height: 40%;
  padding: 1rem;
  margin: 0 15rem;
}

.content .disk {
  background-color: #f5a7f1;
  margin-top: 2rem;
  position: relative;
  padding: 2rem;
  font-family: "Neucha", cursive;
  font-weight: 600;
  border: 2px solid black;
  border-radius: 2rem;
}

.content .disk .disk-span {
  padding-top: 1rem;
  font-weight: 400;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}

.hero-button {
  width: 25%;
  background-color: #fbb342;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  margin: 1rem 0 0 1rem;
  font-family: "Neucha", cursive;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 1px 2px #333;
}

.hero-button:hover {
  opacity: 0.8;
}

.hero-content {
  position: absolute;
  z-index: 1;
  text-align: center;
}

.blur {
  filter: blur(5px);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
  backdrop-filter: none;
  width: 20%;
}

.popup-inner {
  text-align: center;
}

.popup-close {
  margin-top: 5px;
  margin-left: 0.5rem;
  padding: 0 8px;
  background-color: #ff5722;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.popup-first {
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
}

.popup-heading {
  font-family: "Neucha", cursive;
}

.form-group {
  margin: 0.5rem;
}

.popup-input {
  border: 2px solid black;
}

.popup-action-button {
  border-radius: 1rem;
  padding: 0.1rem 0.5rem;
  background-color: #ff5722;
  margin: 0.2rem;
  color: #fff;
}

.error-message {
  color: red;
  font-size: 1rem;
}
